body {
    background-color: brown;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.hidden {
    display: none;
    text-align: center;
    font-size: 36px; /* Adjust the font size as needed */
    position: absolute; /* Position the message */
    top: 100px; /* Adjust the top position as needed */
    left: 80px; /* Center the message horizontally */
    right: 0; /* Center the message horizontally */
    margin: 0 auto; /* Center the message horizontally */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.memory-game-container {
    display: flex;
    justify-content: space-between; /* Spread elements horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    background-color: grey;
    max-width: 800px; /* Set a max width for the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 20px; /
}

#newGameButton {
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-left: 50px;
}

#winCounter {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-right: 50px;
}

.memory-game {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px;
    width: 100%; /* Add this line to limit the width */
    padding: 0 200px; /* Add this line for spacing on both sides */
}

.card {
    width: 100%;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
}

.card .inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card .inner .front,
.card .inner .back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: white; /* Front side color */
}

.card .inner .back {
    transform: rotateY(180deg);
    background-color: #f0f0f0; /* Default color of the cards (back side) */
}

.card.flipped .inner {
    transform: rotateY(180deg);
}

